.root {
  width: 1440px;
  height: 6380px;
  max-height: 100%;
  align-items: flex-start;
}
.divIxn22 {
  width: 1440px;
  height: min-content;
  align-items: flex-start;
}
.divPJ4KCX {
  position: relative;
  width: 1440px;
  height: 4447.7798px;
  background-color: #fff;
  overflow: hidden;
}
.divIxn22Container {
  position: relative;
  width: 1440px;
  height: 4447.7798px;
  align-items: flex-start;
}
.headerSection {
  position: absolute;
  left: 3px;
  right: -3px;
  top: 0;
  bottom: 4347.7798px;
  height: min-content;
  align-items: center;
  gap: 381.68px;
  padding: 31px 69.06px 31px 95.03px;
}
.divCompLivzca9o4_r_compLe2u9b8 {
  position: relative;
  width: 456px;
  height: 27.1875px;
  align-items: flex-start;
}
.divAG_P7Z {
  position: absolute;
  left: 89.97px;
  right: 270.03px;
  top: 12.095px;
  bottom: 14.0925px;
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
}
.lOGO {
  color: #000;
  font-size: 19px;
  line-height: 25.6px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -8.03px;
  top: 0.095px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navSite {
  width: 458.56px;
  height: min-content;
}
.list {
  width: 466.56px;
  height: min-content;
  align-self: flex-start;
  place-content: flex-end;
  align-items: flex-start;
  gap: 0px;
  padding: 0 0 0 3.73px;
}
.item {
  width: min-content;
  height: min-content;
  padding: 9px 34.36px 10px 34px;
}
.linkAbout {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item2 {
  width: min-content;
  height: min-content;
  padding: 9px 33.44px 10px 34px;
}
.linkRead {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item3 {
  width: min-content;
  height: min-content;
  padding: 10px 36.2px 10px 34px;
}
.linkLearn {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.mainSection {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 3439.9498px;
  align-items: flex-start;
}
.heading1 {
  position: absolute;
  left: 79px;
  right: 848.09px;
  top: 0;
  height: min-content;
  place-content: flex-end;
  padding: 0 0.19px 0 6.72px;
}
.loremIpsumDoloR {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 70px;
  line-height: 74.5px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 70px;
  line-height: 74.5px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.pFont_0 {
  position: absolute;
  left: 594.91px;
  right: 94.5px;
  top: 487.39px;
  height: min-content;
  place-content: flex-end;
  padding: 0 0.44px 0 4.15px;
}
.loremIpsumDolor {
  color: #000;
  font-size: 70.5px;
  line-height: 74.5px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLivzcaaz4 {
  position: absolute;
  left: 94.5px;
  right: 94.5px;
  top: 667.89px;
  bottom: 234.94px;
  box-shadow: inset 0px 1px 0px #000;
}
.divCompLivzcab23 {
  position: absolute;
  left: 94.5px;
  right: 94.5px;
  top: 701.64px;
  bottom: 135.19px;
  align-items: flex-start;
}
.pFont_7 {
  position: absolute;
  left: -0.5px;
  right: 671.5px;
  top: 16.36px;
  height: min-content;
  padding: 0 43px 0.19px 0;
}
.loremIpsumDolorSitAmetConsecte {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #000;
  font-size: 13.2px;
  line-height: 20.59px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 13.2px;
  line-height: 20.59px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.linkApply {
  position: absolute;
  left: 1035px;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  outline: solid 1px #22212145;
  outline-offset: -1px;
  border-radius: 50px;
  background-color: #f5f5f5;
}
.divStylableButton2545352419__c {
  z-index: 0;
  height: min-content;
  flex: 1;
  place-content: center;
  align-items: center;
  gap: 18.01px;
  padding: 12.5px 35.73px 12.5px 35.73px;
  overflow: hidden;
}
.spanStylableButton2545352419__ {
  width: min-content;
  height: min-content;
  padding: 0 1.53px 1px 0;
  overflow: hidden;
}
.apply {
  color: #000;
  font-size: 37px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.sVG {
  width: 25px;
  height: 25px;
}
.icon {
  width: 100%;
  height: 100%;
}
.mainSection2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 19.9425%;
  bottom: 78.9333%;
  align-items: flex-start;
  overflow: hidden;
}
.divLWbAav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.mainSection3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 937px;
  bottom: 2549.4698px;
  align-items: flex-start;
}
.pFont_72 {
  position: absolute;
  left: 94.5px;
  right: 673.14px;
  top: -1px;
  height: min-content;
  padding: 0 5.36px 0.09px 0;
}
.loremIpsumDolorSitAmetConsecte2 {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock5 {
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.pFont_73 {
  position: absolute;
  left: 595px;
  right: 108px;
  top: 717.5px;
  height: min-content;
  place-content: flex-end;
  padding: 0 0.69px 0 14.36px;
}
.loremIpsumDolorSitAmetConsecte3 {
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock8 {
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #000;
  font-size: 28.2px;
  line-height: 35.04px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.divCompLk14qqfk {
  position: absolute;
  left: calc(50% - -0.5px);
  top: calc(50% - 68.655px);
  width: 1253px;
  height: 422px;
  align-items: flex-start;
  padding: 220px 436px 341px;
  outline: solid 1px #242323;
  outline-offset: -1px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
.linkVisit {
  position: absolute;
  left: 1208px;
  right: 142px;
  top: 561px;
  bottom: 370.31px;
  height: min-content;
  padding: 1px 16px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 9999px;
  background-color: #222121;
}
.divStylableButton2545352419__c2 {
  z-index: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 7.77px;
  padding: 3.5px 1.62px 3.5px 1.61px;
  overflow: hidden;
}
.spanStylableButton2545352419__2 {
  width: min-content;
  height: min-content;
  overflow: hidden;
}
.visit {
  color: #f5f5f5;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.sVG2 {
  width: 12px;
  height: 12px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.buttonExitSVG {
  position: absolute;
  left: 1297px;
  top: 223.5px;
  width: 24px;
  height: min-content;
  place-content: center;
  overflow: hidden;
}
.frame {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.mainSection4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 1900.3051px;
  bottom: 1680.4847px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  padding: 0 95.0301px 143.99px 95.03px;
}
.heading2 {
  width: 542.94px;
  height: min-content;
  padding: 1px 123.94px 2px 0;
}
.loremIpsumDolor2 {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock11 {
  color: #000;
  font-size: 59px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 59px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.list2 {
  width: 1249.9399px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.listitem {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_74 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 351.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemJ9ples3e {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame2 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.listitem2 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_8 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 706.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu2 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemK67jq4md {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame3 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon5 {
  width: 100%;
  height: 100%;
}
.listitem3 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_75 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 750.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu3 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemLixdvwx0 {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame4 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon6 {
  width: 100%;
  height: 100%;
}
.listitem4 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_76 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 260.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu4 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemLixef9d8 {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame5 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon7 {
  width: 100%;
  height: 100%;
}
.listitem5 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_77 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 593.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu5 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemLixefae9 {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame6 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon8 {
  width: 100%;
  height: 100%;
}
.listitem6 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_78 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 345.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu6 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemLixefb8f {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame7 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon9 {
  width: 100%;
  height: 100%;
}
.listitem7 {
  position: relative;
  width: 1249.9399px;
  height: 76px;
  align-items: flex-start;
}
.pFont_79 {
  position: absolute;
  left: 62.49px;
  right: 157.6699px;
  top: 24px;
  height: min-content;
  padding: 1px 721.78px 1px 0;
}
.loremIpsumDolorSitAmetSedDoEiu7 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLixdtiqt__itemLixefbxw {
  position: absolute;
  left: 0;
  right: 0.0199px;
  top: 71px;
  bottom: 0;
  box-shadow: inset 0px 1px 0px #000;
}
.frame8 {
  position: absolute;
  left: calc(50% - 619.97px);
  top: 28px;
  width: 10px;
  height: 14.28px;
  transform: translateX(-50%);
}
.icon10 {
  width: 100%;
  height: 100%;
}
.mainSection5 {
  position: absolute;
  left: 50%;
  top: 2751.5px;
  bottom: 1566.0898px;
  width: 1440px;
  align-items: flex-start;
  padding: 0 671.0601px 56.39px 95.03px;
  transform: translateX(-50%);
}
.heading22 {
  width: min-content;
  height: min-content;
  padding: 1px 2.91px 1.8px 0;
}
.loremIpsumDolorSitAmet {
  color: #000;
  font-size: 59px;
  line-height: 70.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.mainSectionList {
  position: absolute;
  left: 0;
  right: 0;
  top: 2968.48px;
  bottom: 802.4998px;
  align-items: flex-start;
  overflow: hidden;
}
.listitem8 {
  position: absolute;
  left: 95.03px;
  right: 403.5px;
  top: 0;
  bottom: 100.8px;
  height: min-content;
  padding: 0 40px 0 0;
}
.divCompLjmqdwzz__item1 {
  width: 901.47px;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
}
.divAG_P7Z2 {
  width: 901.47px;
  height: 576px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
}
.divCompLjmqdwzzContainer {
  position: relative;
  width: 901.47px;
  height: 576px;
  align-items: flex-start;
}
.pFont_710 {
  position: absolute;
  left: 22.5px;
  right: 626.81px;
  top: 527.61px;
  height: min-content;
  padding: 0 100.16px 0.69px 0;
}
.loremIpsumDolor3 {
  color: #000;
  font-size: 16px;
  line-height: 18.7px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLjmqdx1c2__item1 {
  position: absolute;
  left: 22.5px;
  right: 22.5px;
  top: 22.5px;
  bottom: 76.08px;
  height: min-content;
  border-radius: 15px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.wixImagePictureSocial20share20 {
  width: 856.47px;
  height: 477.42px;
}
.linkVisit2 {
  position: absolute;
  left: 788.97px;
  right: 22.5px;
  top: 522.96px;
  bottom: 23.04px;
  height: min-content;
  padding: 1px 16px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 9999px;
  background-color: #222121;
}
.divStylableButton2545352419__c3 {
  z-index: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 7.77px;
  padding: 3.5px 1.62px 3.5px 1.61px;
  overflow: hidden;
}
.spanStylableButton2545352419__3 {
  width: min-content;
  height: min-content;
  overflow: hidden;
}
.visit2 {
  color: #f5f5f5;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.sVG3 {
  width: 12px;
  height: 12px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.listitem9 {
  position: absolute;
  left: 1037px;
  right: 42px;
  top: 0.02px;
  bottom: 100.78px;
  align-items: flex-start;
  padding: 0 40px 0 0;
}
.divCompLjmqdwzz__itemLjmqicnb {
  width: 364px;
  height: min-content;
  align-items: flex-start;
}
.divAG_P7Z3 {
  width: 364.47px;
  height: 576px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
}
.divCompLjmqdwzzContainer2 {
  width: 361px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 27.69px;
  padding: 22.5px 22.5px 28.7px;
}
.divCompLjmqdx1c2__itemLjmqicnb {
  width: 320px;
  height: min-content;
  border-radius: 15px;
  background-color: #242323;
  overflow: hidden;
}
.wixImagePictureD793D7A9D791D7A {
  width: 856.47px;
  height: 477.42px;
}
.pFont_711 {
  width: 252.16px;
  height: min-content;
  padding: 0 132.16px 0.69px 0;
}
.loremIpsumDolor4 {
  color: #000;
  font-size: 16px;
  line-height: 18.7px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.arrow1 {
  position: absolute;
  left: calc(50% - 0.5px);
  bottom: 33.7425px;
  width: 107px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  overflow: visible;
  transform: translateX(-50%);
}
.icon12 {
  width: 100%;
  height: 100%;
}
.linkVisit3 {
  position: absolute;
  left: 1290px;
  right: 60px;
  top: 522.02px;
  bottom: 124.78px;
  height: min-content;
  padding: 1px 16px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 9999px;
  background-color: #222121;
}
.divStylableButton2545352419__c4 {
  z-index: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 7.77px;
  padding: 3.5px 1.62px 3.5px 1.61px;
  overflow: hidden;
}
.spanStylableButton2545352419__4 {
  width: min-content;
  height: min-content;
  overflow: hidden;
}
.visit3 {
  color: #f5f5f5;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.sVG4 {
  width: 12px;
  height: 12px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.mainSection6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 3645.28px;
  bottom: -0.0002px;
  align-items: flex-start;
}
.iframeWixFAQ {
  position: absolute;
  left: 720px;
  right: 94.5px;
  top: 30.22px;
  bottom: 76.28px;
  align-items: flex-start;
  overflow: hidden;
}
.body {
  position: absolute;
  left: 0;
  right: -0.5px;
  top: 101.22px;
  height: 696px;
  align-items: flex-start;
  overflow: hidden;
}
.divContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  padding: 40px 40px 50px;
  background-color: #fff;
}
.sectionListList {
  width: 546px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.item4 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading3 {
  width: 522px;
  height: min-content;
  padding: 0 398px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG5 {
  width: 24px;
  height: 24px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.item5 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button2 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading32 {
  width: 522px;
  height: min-content;
  padding: 0 393px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo2 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI2 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG6 {
  width: 24px;
  height: 24px;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.item6 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button3 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading33 {
  width: 522px;
  height: min-content;
  padding: 0 349px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo3 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI3 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG7 {
  width: 24px;
  height: 24px;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.item7 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button4 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading34 {
  width: 522px;
  height: min-content;
  padding: 0 245px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo4 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI4 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG8 {
  width: 24px;
  height: 24px;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.item8 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button5 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading35 {
  width: 522px;
  height: min-content;
  padding: 0 328px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo5 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI5 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG9 {
  width: 24px;
  height: 24px;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.item9 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button6 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading36 {
  width: 522px;
  height: min-content;
  padding: 0 358px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo6 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI6 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG10 {
  width: 24px;
  height: 24px;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.item10 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button7 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading37 {
  width: 522px;
  height: min-content;
  padding: 0 255px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo7 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI7 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG11 {
  width: 24px;
  height: 24px;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.item11 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button8 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading38 {
  width: 522px;
  height: min-content;
  padding: 0 232px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo8 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI8 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG12 {
  width: 24px;
  height: 24px;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.item12 {
  width: 546px;
  height: min-content;
  padding: 1px 0 2px;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
}
.button9 {
  width: 546px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  padding: 19.5px 0;
}
.heading39 {
  width: 522px;
  height: min-content;
  padding: 0 141px 2px 0;
  overflow: hidden;
}
.loremIpsumDolo9 {
  color: #000;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divScIwsKbI9 {
  width: 24px;
  height: min-content;
  place-content: center;
  padding: 0 0 3px;
}
.sVG13 {
  width: 24px;
  height: 24px;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.heading23 {
  position: absolute;
  left: 94.5px;
  right: 720px;
  top: 32.7px;
  height: min-content;
  padding: 2px 201.5px 2px 0;
}
.loremIpsumDolo10 {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock13 {
  color: #000;
  font-size: 58px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock14 {
  margin-top: 0;
  color: #000;
  font-size: 58px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.mainSection7 {
  position: absolute;
  left: 50%;
  top: 4488.5px;
  width: min-content;
  height: 1895px;
  align-items: flex-start;
  border-radius: 2px;
  transform: translateX(-50%);
}
.divCompLk14qqamContainer {
  width: 1440px;
  height: 1895px;
  flex-direction: column;
  align-items: flex-start;
  gap: 112.5px;
  padding: 0 94.5px 62.55px;
}
.wixImage {
  width: 1440px;
  height: 1958px;
  align-items: flex-start;
  overflow: hidden;
}
.pictureC164a8_f83859be7a6e47d1 {
  width: 1440px;
  height: 2030.55px;
  background-color: #fff;
}
.divCompLk14qqfaContainer {
  width: 1251px;
  height: 1524px;
  flex-direction: column;
  align-items: flex-start;
  gap: -47px;
}
.divCompLk14qqfc {
  width: 1251px;
  height: 758px;
  flex-direction: column;
  align-items: center;
  padding: 42px 166.89px 321px 166.86px;
}
.spanWixuiRichText__text {
  width: min-content;
  height: min-content;
}
.loremIpsumDolorSitAmetConsecte4 {
  width: 1231px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock15 {
  color: #000;
  font-size: 55px;
  line-height: 94px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.textBlock16 {
  margin-top: 0;
  color: #000;
  font-size: 55px;
  line-height: 94px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.divCompLk14qqfk2 {
  width: 1253px;
  height: 813px;
  flex-direction: column;
  align-items: center;
  padding: 236px 436px 341px;
  outline: solid 1px #242323;
  outline-offset: -1px;
  border-radius: 15px;
}
.divCompLk14qqg5 {
  position: relative;
  width: 1251px;
  height: 235.5px;
  align-items: flex-start;
}
.divCompLk14qqg85 {
  position: absolute;
  left: -2.5px;
  right: 1138.5px;
  top: -4.6597px;
  bottom: 110.3997px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0 4px;
}
.pFont_82 {
  width: 49.27px;
  height: min-content;
  padding: 0 3.27px 0.59px 0;
}
.about {
  color: #000;
  font-size: 16px;
  line-height: 25.6px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navSiteList {
  width: 106px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 3px 0;
}
.itemLink {
  width: 102.44px;
  height: min-content;
  padding: 3px 46.44px 2.39px 0;
  overflow: hidden;
}
.careers {
  color: #000;
  font-size: 15px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink2 {
  width: 102.44px;
  height: min-content;
  padding: 3px 3.44px 2.39px 0;
  overflow: hidden;
}
.privacyPolicy {
  color: #000;
  font-size: 15px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink3 {
  width: 102.44px;
  height: min-content;
  padding: 3px 7.44px 2.39px 0;
  overflow: hidden;
}
.termsOfUse {
  color: #000;
  font-size: 15px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divCompLk14qqgi2 {
  position: absolute;
  left: 308.73px;
  right: 858.35px;
  top: -4.4951px;
  bottom: 110.2351px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0 4px;
}
.pFont_83 {
  width: 47.64px;
  height: min-content;
  padding: 0 1.64px 0.59px 0;
}
.social {
  color: #000;
  font-size: 16px;
  line-height: 25.6px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navSiteList2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 3px 0;
}
.itemLink4 {
  width: 75.92px;
  height: min-content;
  padding: 3px 0 2.39px;
  overflow: hidden;
}
.instagram {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink5 {
  width: 75.92px;
  height: min-content;
  padding: 3px 11.92px 2.39px 0;
  overflow: hidden;
}
.linkedIn {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink6 {
  width: 75.92px;
  height: min-content;
  padding: 3px 27.92px 2.39px 0;
  overflow: hidden;
}
.youTube {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 76px;
  height: min-content;
  flex-direction: column;
}
.divCompLk14qqgn6 {
  position: absolute;
  left: calc(50% - -53.49px);
  top: -5px;
  bottom: 73.34px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.01px;
  padding: 0 0 0px;
  transform: translateX(-50%);
}
.pFont_84 {
  width: 35.42px;
  height: min-content;
  padding: 0 1.42px 0.59px 0;
}
.blog {
  color: #000;
  font-size: 16px;
  line-height: 25.6px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navSiteList3 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.itemLink7 {
  width: 106.98px;
  height: min-content;
  padding: 3px 60.98px 2.39px 0;
  overflow: hidden;
}
.about2 {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink8 {
  width: 106.98px;
  height: min-content;
  padding: 3px 67.98px 2.39px 0;
  overflow: hidden;
}
.read {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink9 {
  width: 106.98px;
  height: min-content;
  padding: 3px 42.98px 2.39px 0;
  overflow: hidden;
}
.connect {
  color: #000;
  font-size: 16px;
  line-height: 22.4px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itemLink10 {
  width: 106.98px;
  height: 28.39px;
  padding: 3px 4.98px 2.39px 0;
  overflow: hidden;
}
.divCompLk14qqgt3 {
  position: absolute;
  left: 965.5px;
  right: -27.27px;
  top: -10.7798px;
  bottom: 10.7798px;
  align-items: flex-start;
}
.pFont_85 {
  position: absolute;
  left: -1px;
  right: 1px;
  top: 39px;
  height: 209.31px;
  padding: 0 19.77px 0.31px 0;
}
.loremIpsumDolorSitAmetConsecte5 {
  position: absolute;
  left: -2.73px;
  top: 6.2202px;
  width: 304px;
  height: min-content;
  flex-direction: column;
}
.textBlock17 {
  color: #000;
  font-size: 15px;
  line-height: 25.7px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #000;
  font-size: 15px;
  line-height: 25.7px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.pFont_86 {
  position: absolute;
  right: 16.5px;
  top: 211.2202px;
  width: 199px;
  height: min-content;
  place-content: flex-end;
  padding: 0 12px 12px 1px;
  overflow: hidden;
}
.meagency {
  color: #000;
  font-size: 10px;
  line-height: 23.2px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock19 {
  display: block;
}
.divCompLivzcaaz42 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 4445.8901px;
  bottom: -3.1104px;
  width: 1251px;
  box-shadow: inset 0px 1px 0px #000;
  transform: translateX(-50%);
}
.linkVisit4 {
  position: absolute;
  left: 1222px;
  right: 128px;
  top: 5948.5px;
  bottom: -1530.7202px;
  height: min-content;
  padding: 1px 16px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 9999px;
  background-color: #222121;
}
.divStylableButton2545352419__c5 {
  z-index: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 7.77px;
  padding: 3.5px 1.62px 3.5px 1.61px;
  overflow: hidden;
}
.spanStylableButton2545352419__5 {
  width: min-content;
  height: min-content;
  overflow: hidden;
}
.visit4 {
  color: #f5f5f5;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.sVG14 {
  width: 12px;
  height: 12px;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.loremIpsumDolorSitAmetOnsectet {
  color: #000;
  font-size: 30px;
  line-height: 70.5px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  position: absolute;
  left: calc(50% - 1px);
  top: 4748px;
  width: 1142px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.loremIpsumDolorSitAmetOnsectet2 {
  color: #000;
  font-size: 22px;
  line-height: 70.5px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  position: absolute;
  left: calc(50% - 1px);
  top: 4849px;
  width: 1142px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.divCompLk14qqfk3 {
  position: absolute;
  left: 92px;
  right: 93px;
  top: calc(50% - -2834.6101px);
  height: 167px;
  align-items: flex-start;
  padding: 188px 436px 341px;
  outline: solid 1px #242323;
  outline-offset: -1px;
  border-radius: 15px;
  transform: translateY(-50%);
}
.buttonExitSVG2 {
  position: absolute;
  left: 1308px;
  top: 4993px;
  width: 24px;
  height: min-content;
  place-content: center;
  overflow: hidden;
}
.frame9 {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.buttonExitSVG3 {
  position: absolute;
  left: 1308px;
  top: 5227px;
  width: 24px;
  height: min-content;
  place-content: center;
  overflow: hidden;
}
.frame10 {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
